<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ user }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/loggedIn">
                        {{ user }}
                    </a>
                </li>
                <li>
                    <a href="/showStocks">My Stocks</a>
                </li>
                <li>
                    <a href="/addStocks">Add Stocks</a>
                </li>
                <li>
                    <a href="/getStockData">Get Stock Data</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Get Stock Data</h1>
                        <div class="row">
                            <div class="col-md-5">
                            <form action="/viewData" method="post">
                                <div class="form-group">
                                    <select name="myStocks" id="" class="form-control">
                                        {% for stock in stocks %}
                                            {% if stock.ticker != "" %}
                                                <option>{{ stock.ticker }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="submit" value="Get Data" class="btn btn-default">
                            </form>
                            </div>
                        </div>
                        <br>
                        {% if dataView is defined %}
                            <div class="row">
                            <div class="col-md-6">
                            <table class="table table-striped">
                                <th>Date</th>
                                <th>Open</th>
                                <th>Close</th>
                                <th>Change</th>
                            {% for obj in dataView.data[0].securityData.fieldData  %}
                                <tr>
                                    <td>{{ obj.date[:10] }}</td>
                                    <td>{{ obj.OPEN }}</td>
                                    <td>{{ obj.PX_LAST }}</td>
                                    <td>{{ obj.PX_LAST - obj.OPEN }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                            </div>
                            </div>
                        {% endif %}
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
